@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body{
  background-color: #000;
}

h1,h2,h3,h4,h5,h6,a,p,span,blockquote,ul,li{
font-family: 'Inter', sans-serif;
color: white; 
font-weight:400;
}